<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Day04</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ychs168.java.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyGoods</display-name>
    <servlet-name>BuyGoods</servlet-name>
    <servlet-class>com.ychs168.java.BuyGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyGoods</servlet-name>
    <url-pattern>/BuyGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>T</display-name>
    <servlet-name>T</servlet-name>
    <servlet-class>com.ychs168.java.T</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T</servlet-name>
    <url-pattern>/T</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>T2</display-name>
    <servlet-name>T2</servlet-name>
    <servlet-class>com.ychs168.java.T2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T2</servlet-name>
    <url-pattern>/T2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>T3</display-name>
    <servlet-name>T3</servlet-name>
    <servlet-class>com.ychs168.java.T3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>T3</servlet-name>
    <url-pattern>/T3</url-pattern>
  </servlet-mapping>
</web-app>