<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">

    <servlet>
        <servlet-name>he</servlet-name>
        <jsp-file>/WEB-INF/hello.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>he</servlet-name>
        <url-pattern>/hello.mldn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dbinit</servlet-name>
        <jsp-file>/WEB-INF/init.jsp</jsp-file>
        <init-param>
            <param-name>driver</param-name>
            <param-value>com.mysql.jdbc.driver</param-value>
        </init-param>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:mysql://localhost:3306/mldn</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dbinit</servlet-name>
        <url-pattern>/config.mldn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>server</servlet-name>
        <servlet-class>org.lxh.servletdemo.ServerRedirectDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>server</servlet-name>
        <url-pattern>/9.7/ServerRedirectDemo</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>
            org.lxh.listenerdemo.OnlineUserList
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>ELServlet</servlet-name>
        <servlet-class>
            org.lxh.eldemo.servlet.ELServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ELServlet</servlet-name>
        <url-pattern>/10.4/ELServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ELListServlet</servlet-name>
        <servlet-class>
            org.lxh.eldemo.servlet.ELListServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ELListServlet</servlet-name>
        <url-pattern>/10.4/ELListServlet</url-pattern>
    </servlet-mapping>
</web-app>