<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Day02</display-name>
  <welcome-file-list>
  	<welcome-file>FramesetServlet</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>global</param-name>
    <param-value>全局变量</param-value>
  </context-param>
  <servlet>
    <servlet-name>LifeServlet</servlet-name>
    <servlet-class>com.ychs168.javaweb.servlet.LifeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeServlet</servlet-name>
    <url-pattern>/LifeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StartServlet</servlet-name>
    <servlet-class>com.ychs168.javaweb.servlet.StartServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartServlet</servlet-name>
    <url-pattern>/StartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppServlet</display-name>
    <servlet-name>AppServlet</servlet-name>
    <servlet-class>com.ychs168.javaweb.servlet.AppServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>appName</param-name>
      <param-value>英才汇硕学生管理系统</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>appVersion</param-name>
      <param-value>1.0</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppServlet</servlet-name>
    <url-pattern>/AppServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParameterServlet</display-name>
    <servlet-name>ParameterServlet</servlet-name>
    <servlet-class>com.ychs168.javaweb.servlet.ParameterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParameterServlet</servlet-name>
    <url-pattern>/ParameterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.ychs168.javaweb.servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ychs168.javaweb.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ForwardServlet</display-name>
    <servlet-name>ForwardServlet</servlet-name>
    <servlet-class>com.ychs168.javaweb.servlet.ForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForwardServlet</servlet-name>
    <url-pattern>/ForwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FramesetServlet</display-name>
    <servlet-name>FramesetServlet</servlet-name>
    <servlet-class>com.ychs168.javaweb.servlet.FramesetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FramesetServlet</servlet-name>
    <url-pattern>/FramesetServlet</url-pattern>
  </servlet-mapping>
</web-app>